*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/deploymentTargetDropDown.xml
/.idea/render.experimental.xml
/.idea/kotlinScripting.xml
/.idea/inspectionProfiles/Project_Default.xml
/app/release/app-release.aab
/app/release/app-release.apk
/.idea/codeStyles/codeStyleConfig.xml
/app/release/output-metadata.json
/.idea/codeStyles/Project.xml
